#menu{
    width: 100%;
    height: 40px;
    padding-top: 30px;
    background-color: rgb(234, 115, 182);
    padding-bottom: 20px;
}

#menu a{
    color: antiquewhite;
    font-family: Helvetica;
    font-size: 20px;
    text-decoration: none;
    font-weight: 200;

    
    display: inline;
    padding-left: 220px;
    padding-bottom: 100px;

}

#menu a:hover{
    color:rgb(214, 19, 97);
}

img{
    width: 220px;
   height: 240px;
   display: inline-block;
   padding-top: 25px;
   padding-left: 200px ;
}

h2{
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    font-family: Helvetica;
    color: rgb(221, 133, 183);
    padding-left: 50px;
}

h3{
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    font-family: Helvetica;
    color: rgb(221, 133, 183);
    padding-left: 50px; 
}

p{
    display: inline;
    color: rgb(221, 133, 183);
    padding-left: 5px; 
    padding-bottom: 50px;
}

h4{
    color: rgb(221, 133, 183);
    padding-left: 10px;  
}

#more-info{
    padding-left: 30px;
}

#more-info h3{
    padding-left: 20px;
}

#more-info button{
    display:inline-block;
    background-color: rgb(224, 125, 182);
    font-family: Helvetica;
    font-weight: 100;
    font-size:15px;
    color:antiquewhite;
    border:none;

}

#more-info button:hover{
    color:rgb(214, 19, 97);

}
     


#more-info select option{
    display:inline-block;
    background-color: rgb(224, 125, 182);
    font-family: Helvetica;
    font-weight: 100;
    font-size:15px;
    color:antiquewhite;


}

table{
    border-collapse: collapse;
    width:40%; 
}

td{
    color: rgb(249, 126, 198);
    text-align: center;
}


th{
    color: rgb(241, 96, 180);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

tr:nth-child(odd){
    background-color: rgb(252, 169, 218);
}